Welcome to another exciting game of Starcraft 2! Today we find ourselves on the map {{map}} in the {{league}} league. 
{{student}}, starting in {{student_color}} at the {{student_position}} o'clock position is facing off against {{opponent}}, playing in {{opponent_color}} from the {{opponent_position}} o'clock position in the {{matchup}} matchup.