run.cmd
.ipynb_checkpoints/
.vscode/
.pyc
__pycache__/
expetiment.ipynb
replays.csv
*.csv
.env*
!.env.example
config.*.yml
obs/
deamon.cmd
aicoach/assistant.json
deploy.cmd
logs/
mongodb/mongo-seed/*.json