run.cmd
.ipynb_checkpoints/
.pyc
__pycache__/
.env*
!.env.example
*config.*.yml
obs/
assistant.json
logs/
mongodb/mongo-seed/*.json
tests/coverage/
.coverage
tests/test-results.xml
*report.html
mongodb/mongo-seed/*.json
mongodb/dump/
playground/external/
user_token.json
*.log
*.mock
.venv/
build/
dist/
.specstory/
rep.json