Today is {{ today }}; in UNIX timestamp: {{timestamp}}. When referencing a date, use natural language like "today" or
"yesterday" instead of "3/14/2024" or "March 14, 2024" where short forms make sense.