I just started a game against "{{opponent}}" on the map {{map}}. We are currently playing at {{mmr}} MMR.

This is a rematch against {{opponent}}, who we just played before. If I won the last game, give me a reminder of what I
did well. If I lost, give me some ecouragement and fire me up for the rematch.

Here is the replay from the last game against {{opponent}} in case I have questions about it:

{{replays[0]}}