I am currently playing against "{{opponent}}" on the map {{map}}. We are currently playing at {{mmr}} MMR. 

There are {{replays|length}} replays of me playing against {{opponent}}. Give a 1 sentence summary of {{opponent}} strategy and be ready to answer questions about these past games against {{opponent}}.

Past replays against {{opponent}}:

{% for replay in replays %}
{{replay}}
-------------------
{% endfor %}
