<table class="table table-striped table-condensed" style="margin-bottom:0;">
 <tr>
  <th>
   Matchup
  </th>
  <th>
   W/L
  </th>
  <th>
   %
  </th>
 </tr>
 <tr>
  <td colspan="3" style="text-align:center;font-weight:bold;">Today</td>
</tr>
 {% for matchup in map_stats_today.matchups %}
 <tr>
  <td>
   {{ matchup.matchup }}
  </td>
  <td>
   {{ matchup.wins }}-{{ matchup.losses }}
  </td>
  <td>
   {{ (matchup.winrate * 100) | round(0) | int }}%
  </td>
 </tr>
 {% endfor %}
 {% set total_wins = map_stats_today.matchups | map(attribute='wins') | sum %}
 {% set total_losses = map_stats_today.matchups | map(attribute='losses') | sum %}
 {% set total_games = total_wins + total_losses %}
 {% set win_pct = ((total_wins / total_games) * 100) | round(0) | int if total_games > 0 else 0 %}
 <tr style="font-weight:bold;">
  <td>
   Total
  </td>
  <td>
   {{ total_wins }} - {{ total_losses }}
  </td>
  <td>
   {{ win_pct }}%
  </td>
 </tr>
 
 <tr>
  <td colspan="3" style="text-align:center;font-weight:bold;">
    This Season
  </td>
</tr>

 {% for matchup in map_stats_season.matchups %}
 <tr>
  <td>
   {{ matchup.matchup }}
  </td>
  <td>
   {{ matchup.wins }}-{{ matchup.losses }}
  </td>
  <td>
   {{ (matchup.winrate * 100) | round(0) | int }}%
  </td>
 </tr>
 {% endfor %}
 {% set total_wins = map_stats_season.matchups | map(attribute='wins') | sum %}
 {% set total_losses = map_stats_season.matchups | map(attribute='losses') | sum %}
 {% set total_games = total_wins + total_losses %}
 {% set win_pct = ((total_wins / total_games) * 100) | round(0) | int if total_games > 0 else 0 %}
 <tr style="font-weight:bold;">
  <td>
   Total
  </td>
  <td>
   {{ total_wins }} - {{ total_losses }}
  </td>
  <td>
   {{ win_pct }}%
  </td>
 </tr>

</table>
